Repository chrisjsherm/aws-lambda-contact-us: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Ignore NPM prepare script in Dockerfile
  Dockerfile
Due: none

fixup/Ignore NPM prepare script in runtime stage of Dockerfile
  Dockerfile
Due: none

Add config instructions for GitHub Actions
  README.md
Due: prettier --write

fixup/Use plaintext header constant
  src/helpers/parse-request-body.helper.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

tooling/Run tests on pre-commit hook
  .eslintcache
  .github/workflows/pr-continuous-integration.yml
  .github/workflows/push-readme-badge.yml
  .husky/pre-commit
  package.json
Due: prettier --write

fixup/Add newline to end of pre-commit file
  .husky/pre-commit
Due: none

Cloudflare Turnstile support
  .eslintcache
  .eslintrc.json
  .vscode/launch.json
  Dockerfile
  jest.config.js
  package-lock.json
  package.json
  src/app.spec.ts
  src/app.ts
  src/constants/header-content-text.constant.ts
  src/constants/http-error-internal-service.constant.ts
  src/helpers/is-valid-email-address.helper.spec.ts
  src/helpers/is-valid-email-address.helper.ts
  src/helpers/parse-request-body.helper.spec.ts
  src/helpers/parse-request-body.helper.ts
  src/helpers/validate-email-address.helper.spec.ts
  src/helpers/validate-email-address.helper.ts
  src/helpers/validate-string-property.helper.spec.ts
  src/helpers/validate-string-property.helper.ts
  src/models/contact-us-form.class.spec.ts
  src/models/contact-us-form.class.ts
  src/models/contact-us-request-body.interface.ts
  src/models/contact-us.interface.ts
  src/models/email-address.class.ts
  src/models/email.interface.ts
  src/models/error-array.class.ts
  src/models/lambda-fn-dependencies.interface.ts
  src/services/captcha.service.spec.ts
  src/services/captcha.service.ts
  src/services/email.service.spec.ts
  src/services/email.service.ts
  src/services/parameter.service.spec.ts
  src/services/parameter.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Bump GitHub Action Node version to 18
  .github/workflows/pr-continuous-integration.yml
  .github/workflows/push-readme-badge.yml
Due: none

fixup/Configure Jest to runInBand. Jest runs faster right now without spawning multiple workers
  package.json
Due: prettier --write

fixup/Add Clover as Jest coverage reporter to generate test coverage badge
  jest.config.js
  package.json
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

Remove coverage badge
  .github/workflows/push-readme-badge.yml
  README.md
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

coverage/Add missing coverage to ContactUsForm
  .eslintcache
  src/models/contact-us-form.class.spec.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

coverage/Increase coverage to 100 percent
  .eslintcache
  jest.config.js
  package.json
  src/app.spec.ts
  src/app.ts
  src/services/email.service.spec.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Untrack eslint cache file
  .eslintcache
  .github/workflows/pr-continuous-integration.yml
  .lintstagedrc.json
  package.json
Due: prettier --write

fixup/Run eslint with untracked (local) cache
  .gitignore
  package.json
Due: prettier --write

feature/Enable captcha by conditionally passing captcha field name to Contact Us Form
  src/app.spec.ts
  src/app.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Remove unnecessary delete statement from test
  src/app.spec.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

docs/Add info about GitHub action to README
  README.md
Due: prettier --write

debug/Log body
  src/app.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

feature/Dependency injector
  src/app.spec.ts
  src/app.ts
  src/services/dependency-injector.service.spec.ts
  src/services/dependency-injector.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Catch errors from DependencyInjector
  src/app.spec.ts
  src/app.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Throw when path to captcha secret is not set
  src/services/dependency-injector.service.spec.ts
  src/services/dependency-injector.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Adjust error message when parameter does not have a value
  src/services/parameter.service.spec.ts
  src/services/parameter.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

Use GetParameters instead of GetParameter SSM command
  .vscode/settings.json
  shell-scripts/call-endpoint.sh
  src/services/parameter.service.spec.ts
  src/services/parameter.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

Use axios for HTTP
  jest.config.js
  package-lock.json
  package.json
  src/services/captcha.service.spec.ts
  src/services/captcha.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Refactor captcha verification to use HTTPS module. tooling/Add Docker compose
  .gitignore
  .vscode/settings.json
  Dockerfile
  README.md
  docker-compose.example.yml
  package-lock.json
  package.json
  shell-scripts/call-endpoint.sh
  shell-scripts/push-to-ecr.sh
  shell-scripts/run-container.sh
  src/app.spec.ts
  src/app.ts
  src/services/captcha.service.spec.ts
  src/services/captcha.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Remove extraneous log statement
  src/services/captcha.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Use GetParameter instead of GetParameters command for SSM Parameter Store
  src/app.ts
  src/services/parameter.service.spec.ts
  src/services/parameter.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Add 'ReturnPath' config to email to receive bounce notifications
  src/services/email.service.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

fixup/Remove unnecessary log statement
  jest.config.js
  src/app.ts
Due: prettier --write, eslint 'src/**/*.{js,ts}' --fix --cache

config/Disable captcha in example docker compose
  docker-compose.example.yml
Due: none

fixup/Fix docs for docker compose sample request
  README.md
Due: prettier --write

docs/Minor README clarifications
  README.md
Due: prettier --write

docs/README: formatting
  README.md
Due: prettier --write

feature/DockerCompose: Use .env file for environment variables
  .env.example
  .gitignore
  docker-compose.yml
Due: none

docs/README: Info about .env
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{css,html,json,md})
  eslint 'src/**/*.{js,ts}' --fix --cache: any of: *.{js,ts}
